#Variables
config/
*.env

#Lo que el python genera
__pycache__/

#Basurilla si es que genera
.vscode/
.idea/
.DS_Store

#Logs
logs/

#
/Lib
/Scripts
*.cfg

#Lo que el bot genera:
bot/_cache_bot/
.github/