#Para pdfs
pypdf
pymupdf 
rapidocr_onnxruntime

#typer
typer

#Selenium
selenium

#Para escribir en excel
xlsxwriter

#Google Gmail
google-api-python-client 
google-auth-oauthlib 
google-auth-httplib2